    <div id="calendarContainer">
      <div id="eventslink">Events</div>
      <div id="listevents"></div>
      <div id="date-selection">
        <label for="from-date">From:</label>
        <input type="date" id="fromDate" />
        <label for="to-date">To:</label>
        <input type="date" id="toDate" />
      </div>
      <div id="calendar"></div>
      <div id="de"></div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="/js/script.js"></script>