<section id='event-dashboard'>
  <section class='introduction-section'>
    <article class='introduction-article-event'>
      <div id='title-container'>
        <h1>Events Dashboard</h1>
        <div id='title-centered-container'>
          <p class='app-introduction-paragraph'>Your past inspirations</p>
        </div>
      </div>
      <div id='event-list'>

      </div>

    </article>
  </section>
</section>