<section id='event-dashboard'>
  <section class='introduction-section-dashboard'>
    <article class='introduction-article-event'>
      <div id='title-container'>
        <h1>Events Dashboard</h1>

      </div>
      <div id='event-list'>

        <div class='dashboard-card'>

          <div class='dashboard-card-header'>

            <div class='dashboard-card-header-media'>

              <div class='dashboard-card-header-title'>

                <h4>Event title</h4>

              </div>

              <div class='dashboard-card-header-cta-group'>

                <button class='delete-button'>
                  <img
                    class='dashboard-card-header-cta'
                    src='../public/assets/images/Trash-Can.svg'
                  />
                </button>

                <button class='check-button'>
                  <img
                    class='dashboard-card-header-cta'
                    src='../public/assets/images/View.svg'
                  />
                </button>

              </div>

            </div>

          </div>

          <p class='event-type-text'>Event type</p>

          <div class='dashboard-card-footer'>

          </div>

        </div>

      </div>

    </article>
  </section>
</section>