<section id='new-event-screen'>
  <section class='introduction-section-new-event'>
    <article class='introduction-article'>
      <h1 class='client-event'>New event</h1>
      <p class='app-introduction-paragraph'>What is the title of your event?</p>
      <input id='new-user-event' required />
      <p class='app-introduction-paragraph'>What is the category of your event?</p>
      <select id='newEventCategory'>
        <option>Birthday</option>
        <option>Graduation</option>
        <option>Wedding</option>
        <option>Birth</option>
        <option>Vacations</option>
        <option>Travel</option>
        <option>Achievement</option>
        <option>Career</option>
        <option>Pets</option>
        <option>Family</option>
        <option>Campaigns</option>
        <option>Causes</option>
        <option>Solidarity</option>
        <option>Charity</option>
        <option>Hobbies</option>
        <option>Holidays</option>
        <option>Investments</option>
        <option>Clothing</option>
        <option>Health</option>
        <option>Other</option>
      </select>
    <p class='app-introduction-paragraph'>When will the event take place?</p>

<!-- Insert calendar here -->

    </article>
  </section>
</section>

<script src="../public/assets/js/newEvent.js"></script>