#wrapper {
  width: 100%;
  height: calc(100% - 160px);
  display: flex;
  grid-template-rows: auto 1fr auto;
  overflow: auto;
  flex-direction: column;
}

body {
  /*font-family: verdana;*/
  font-family: 'Roboto', sans-serif;
}

/*Calendar Container*/
#calendarContainer {
  border: 1px solid #ccc;
  border-radius: 5px;
  color: #333;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  width: 400px;
  text-align: center;
  padding-left: 8px;
  padding-right: 8px;
}

.calendar-label {

display:inline;

}

#eventslink {
  font-size: 18px;
  color: #4caf50;
  cursor: pointer;
  margin: 10px 0;
}

#eventslink:hover {
  text-decoration: underline;
}

#date-selection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px 0;
}

#date-selection label {
  font-size: 16px;
  color: #4caf50;
}

#calendar {
  margin: 20px;
}

.monthyear {
  color: black;
  font-size: 18px;
  padding: 5px;
}

#submonth {
  padding-right: 5px;
  margin-right: 10%;
  cursor: pointer;
}

.monthyear {
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  font-size: 18px;
  padding: 5px;
}

#addmonth {
  padding-left: 5px;
  margin-left: 10%;
  cursor: pointer;
}

#month {
  font-size: 18px;
}

.days div {
  display: inline-block;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  font-weight: bolder;
  color: black;
  padding: 8px;
}

.day {
  font-size: 18px;
  pointer-events: auto;
  padding: 8px;
}

.highlightday {
  background-color: #4caf50;
  color: #fff;
  border-radius: 50%;
}

.weeks div {
  display: flex;
  justify-content: center;
  align-items: center;
  float: left;
  width: 35px;
  height: 35px;
  font-size: 15px;
  cursor: pointer;
  padding: 8px;
}
.clear {
  clear: both;
}

.ae {
  text-align: left;
}

.aetitle {
  font-size: 18px;
  font-weight: bold;
}

#de {
  text-align: left;
}

.detitle {
  font-size: 18px;
  font-weight: bold;
}

input[type='text'] {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 16px;
}

.eventday {
  border-top: 1px solid #ccc;
  padding: 10px 0;
  text-align: left;
  margin: 10px 0;
}

#submonth:hover,
#addmonth:hover,
#addevent:hover {
  color: #2e7d32;
}

#calendar div.eventday {
  background-color: #dcedc8;
  color: #fff;
  font-weight: bold;
  padding: 10px;
}
/*End of Calendar*/

.textleft {
  text-align: left;
}

.newEventGroup{

  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;

}

introduction-section {
  display: flex;
  flex-direction: column;
  flex: 1 0 1;
  justify-content: center;
}

.main-introduction-section {
  display: flex;
  flex-direction: row;
  flex: 1 0 1;
  justify-content: center;
}

.introduction-section-dashboard {
  display: flex;
  flex-direction: column;
  flex: 1 0 1;
  justify-content: center;
  align-self: stretch;
}

#event-dashboard {

  display: flex;
  flex-direction: column;
  flex: 1 0 1;
  justify-content: center;
  align-self: stretch;

}

.introduction-section-new-event {
  display: flex;
  flex-direction: row;
  flex: 1 0 1;
  justify-content: center;
}

.introduction-article {
  font-family: 'Roboto', sans-serif;
  padding: 40px;
  text-align: center;
  justify-content: center;
  object-fit: fill;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  max-width: 680px;
}

#page-footer {
  background-color: var(--light-color);
  padding: 20px;
  height: 80px;
}

#wrapper {
  max-width: 100%;
  height: calc(100% - 160px);
  display: block;
  grid-template-rows: auto 1fr auto;
  overflow: auto;
}

/*Style for the sign in and sign up section*/
/*style for the container and content section*/
.centerContainerUser {
  display: flex;
  justify-content: center;
  align-items: center;

}

.userContainer {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Arial, sans-serif;
}

/* Content styles */
.userContent {
  text-align: center;
  background-color: white;
  border-radius: 15px;
  padding: 5%;
  max-width: 150vw;

}

#header{
height: 80px;

}

/*Style for the header and forms*/
.signMessage,
.signHeader {
  text-align: left;
  color: #08203a;
}

.signMessage {
  margin-bottom: 10%;
  font-size: 27px;
}

.signHeader {
  font-size: 35px;
}

span.eventAlly {
  font-weight: bolder;
}

.signInForm,
.signUpForm {
  width: 25vw;
  margin: 25px 0;
  text-align: left;
}

/* Label styles */
.eventlabel {
  color: #343a40;
  font-size: 17px;
  font-weight: bold;
  display: block;
  padding: 15px;
}

/* Input styles */
input.signInput {
  width: 100%;
  height: 100%;
  padding: 15px;
  background-color: white;
  border: 1px solid #343a40;
  border-radius: 5px;
  margin-bottom: 15px;
  color: #343a40;
  font-size: 17px;
}

input.signInput:hover {
  border: 1px solid #1980e7;
}

/* Button styles */
.signInBtn,
.signupBtn {
  width: 100%;
  height: 7vh;
  padding: 12px;
  margin-top: 5%;
  border: none;
  border-radius: 10px;
  background-color: #08203a;
  color: white;
  font-size: 17px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
}

.signupBtn:hover,
.signInBtn:hover {
  background-color: #343a40;
}

.introduction-article-event {
  font-family: 'Roboto', sans-serif;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-right: 40px;
  padding-left: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

/* Link styles */
.signInLink,
.signUpLink {
  text-align: center;
  display: block;
  color: #08203a;
  text-decoration: none;
  margin-top: 5%;
}

#event-list {
  display: flex;
  align-items: center;
  align-content: flex-start;
  gap: 10px;
  align-self: center;
  flex-wrap: wrap;
  overflow: auto;
  min-width: 100%;
}

.introduction-article-new-event {
  font-family: 'Roboto', sans-serif;
  padding: 40px;
  text-align: center;
  justify-content: center;
  object-fit: fill;
  color: var(--dark-color);
  display: flex;
  flex-direction: column;

  gap: 32px;
  max-width: 680px;
}

.title-container {
  

  block-size: fit-content;
  text-align: center;
  justify-content: center;


}


/* Figma assisted CSS START */

.dashboard-card {
  display: flex;
  width: 360px;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 20px;
  border: 1px solid #ececec;
  background: var(--white, #fff);
  padding: 16px;
}

.dashboard-card-header {
  display: flex;
  align-self: stretch;
  justify-content: center;
  padding-bottom: 16px;
}

.dashboard-card-footer {
  display: flex;
  padding-bottom: 16px;
  align-self: stretch;
  justify-content: left;

  color: var(--muted-color, #78858f);

  /* Body/body1 */
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 23px; /* 143.75% */
  letter-spacing: 0.5px;
}

.dashboard-card-header-media {
  display: flex;
  align-items: center;
  gap: 10px;
  flex: 1 0 0;
  align-self: stretch;
}

.dashboard-card-header-title {
  /* Headline/h5 */

  font-family: Roboto;
  font-size: 16px;

  align-items: center;

  height: 32px;
  line-height: 32px;
  text-align: left;

  min-width: 200px;
}

.dashboard-card-header-cta-group {
  display: flex;
  align-items: right;

  flex: 1 0 0;
  align-self: stretch;
  flex-direction: row;
}
.dashboard-card-header-cta {
  width: 16px;
  height: 16px;
}
.check-button {
  width: 32px;
  height: 32px;
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}
.delete-button {
  width: 32px;
  height: 32px;
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.event-type-text {
  text-align: left;
}

.event-type-date {
  text-align: left;
}

.signInLink:hover,
.signUpLink:hover {
  text-decoration: underline;
  color: #08203a;
}

/* Event Checklist CSS code */
/*Checklist container, dashboard button and new item button*/
.checklistDashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.topButtons {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 10px 0;
}

.dashboardButton {
  background-color: transparent;
  color: black;
  font-weight: bolder;
  font-size: 17px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.dashboardButton i {
  margin-right: 5px;
}

.dashboardButton:hover {
  border: 2px solid #08203a;
  width: 10vw;
}

.newItemContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  margin-right: 15%;
  padding: -20px;
}

.newItemButton {
  background-color: #08203a;
  color: #fff;
  width: 15vw;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  float: right;
  cursor: pointer;
}

.event-name {
  font-size: 30px;
  margin: 20px;
}

.checklistContainer {
  text-align: center;
  width: 83%;
  padding: 5px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

.checklist {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.card {
  margin: 2%;
  padding: 10px;
  width: 20vw;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  position: relative;
  overflow: hidden;
  max-height: 250px;
  overflow-y: auto;
}

.card button {
  position: relative;
  overflow: hidden;
  max-height: 250px;
  overflow-y: auto;
}

.checklistTitle {
  font-size: 18px;
  font-weight: bold;
  text-align: left;
}

.checklistDescription {
  margin-top: 20px;
  text-align: left;
}

.checklistDeleteIcon {
  color: #e74c3c;
  cursor: pointer;
  position: absolute;
  width: 10%;
  top: 10px;
  right: 30px;
}

.checklistCheckIcon {
  color: #2ecc71;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
}

.undoButton {
  color: black;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
}

/* The pop-up modal */
.popup-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
  justify-content: center;
  align-items: center;
}

.popup-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  width: 25vw;
  height: 45vh;
  text-align: center;
  position: relative;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  font-weight: bolder;
  width: 2vw;
  cursor: pointer;
}
.close:hover {
  color: red;
  font-weight: bolder;
}

.client-event {
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.client-event-dashboard {
  width: fit-content;
  block-size: fit-content;
  justify-content: center;
  text-align: center;
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

label,
button {
  display: block;
  margin: 8px 0;
  
}

#newTitle,
#newDescription {
  font-size: 17px;
  font-weight: bold;
  text-align: left;
}

#newItemTitle,
#newItemDescription {
  display: block;
  margin: 10px 0;
  width: 25vw;
  font-size: 14px;
}

#newItemTitle {
  height: 4vh;
}

#newItemDescription {
  height: 12vh;
}

#newItemTitle:hover,
#newItemDescription:hover {
  border: 2px solid #005f7f;
}

#addNewItemButton {
  background-color: #08203a;
  color: white;
  width: 25vw;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#addNewItemButton:hover {
  background-color: #005f7f;
}
/* When the user clicks the check icon, the green backgroud will appear aa a mark that the item has been completed. */
.completed {
  background-color: #2ecc71;
  color: #fff;
}

.app-introduction-paragraph-chips {
  font-family: Roboto;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: 26px;
  width: 100%;
  justify-content: left;
}

.btn {
  border: none;
  background-color: hsl(360, 91%, 36%);
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 6px 0px rgba(0, 0, 0, 0.2) 0px 1px 1px
    0px;
  color: hsl(0, 0%, 100%);
  display: inline-block;
  font-size: 22px;
  line-height: 22px;
  margin: 16px 16px 16px 16px;
  padding: 8px 8px;
  text-align: center;
  cursor: pointer;
  max-width: 120px;
}

#new-user-event {
  height: 1em;
  display: flex;
  padding: 16px 8px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;


  border: 1px solid #ccc;
  border-radius: 5px;
  color: #333;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);

}

#newEventCategory {
  height: 1em;
  display: flex;
  align-items: flex-start;
  align-self: stretch;
}

/* CSS from https://getcssscan.com/css-buttons-examples START*/

.button-9 {
  appearance: button;
  background-color: #2ecc71;
  border-radius: 6px;
  border-width: 0;
  box-shadow: rgba(50, 93, 58, 0.1) 0 0 0 1px inset,
    rgba(50, 93, 57, 0.1) 0 2px 5px 0, rgba(0, 0, 0, 0.07) 0 1px 1px 0;

  color: white;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif, 'Segoe UI', Roboto, 'Helvetica Neue',
    Ubuntu, sans-serif;
  font-size: 100%;
  height: 44px;
  width: 100%;
  line-height: 1.15;
  margin: 48px 0 0;
  outline: none;
  overflow: hidden;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-transform: none;
  transform: translateZ(0);
  transition: all 0.2s, box-shadow 0.08s ease-in;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  align-self: stretch;
}

.button-9:disabled {
  cursor: default;
}


.button-10 {
  appearance: button;
  background-color: #cc2e5d;
  border-radius: 6px;
  border-width: 0;
  box-shadow: rgba(50, 93, 58, 0.1) 0 0 0 1px inset,
    rgba(50, 93, 57, 0.1) 0 2px 5px 0, rgba(0, 0, 0, 0.07) 0 1px 1px 0;

  color: white;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif, 'Segoe UI', Roboto, 'Helvetica Neue',
    Ubuntu, sans-serif;
  font-size: 100%;
  height: 44px;
  width: 100%;
  line-height: 1.15;
  margin: 48px 0 0;
  outline: none;
  overflow: hidden;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-transform: none;
  transform: translateZ(0);
  transition: all 0.2s, box-shadow 0.08s ease-in;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  align-self: stretch;
}

.button-10:disabled {
  cursor: default;
}

.button-11 {
  appearance: button;
  background-color: #2ecc71;
  border-radius: 6px;
  border-width: 0;
  box-shadow: rgba(50, 93, 58, 0.1) 0 0 0 1px inset,
    rgba(50, 93, 57, 0.1) 0 2px 5px 0, rgba(0, 0, 0, 0.07) 0 1px 1px 0;

  color: white;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif, 'Segoe UI', Roboto, 'Helvetica Neue',
    Ubuntu, sans-serif;
  font-size: 100%;
  height: 44px;
  width: 16%;
  line-height: 1.15;
  margin: 48px 0 0;
  outline: none;
  overflow: hidden;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-transform: none;
  transform: translateZ(0);
  transition: all 0.2s, box-shadow 0.08s ease-in;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;

}

.button-11:disabled {
  cursor: default;
}

/* CSS from https://getcssscan.com/css-buttons-examples END*/

#new-event-category {

  border: 1px solid #ccc;
  border-radius: 5px;
  color: #333;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  height: 44px;

}