#wrapper {
  max-width: 100%;
  height: calc(100% - 160px);
  display: block;
  grid-template-rows: auto 1fr auto;
  overflow: auto;
}

body {
  /*font-family: verdana;*/
  font-family: 'Roboto', sans-serif;
}

#container {
  border: 1px solid grey;
  border-radius: 3px;
  color: #efefef;
  background-color: #303437;
  opacity: 0.8;
  box-shadow: 4px 4px 10px grey;
  width: 250px;
  padding: 10px;
  margin: 0 auto;
  text-align: center;
}

#eventslink {
  font-size: 14px;
  color: #1e90ff;
  cursor: pointer;
}

#eventslink:hover {
  text-decoration: underline;
}

#addmonth {
  padding: 5px;
  width: 10px;
  float: left;
  cursor: pointer;
}

#month {
  padding: 5px;
  width: 200px;
  float: left;
}

#submonth {
  padding: 5px;
  width: 10px;
  float: left;
  cursor: pointer;
}

.days div {
  float: left;
  width: 25px;
  height: 25px;
  padding: 5px;
}

.highlightday {
  color: #cc5500;
  font-weight: bold;
}

.weeks {
  clear: both;
}

.weeks div {
  float: left;
  width: 25px;
  height: 25px;
  /*padding: 5px;*/
  padding: 2px 5px 2px 5px;
  cursor: pointer;
}

.clear {
  clear: both;
}

.ae {
  padding: 5px;
  text-align: left;
}

.aetitle {
  font-size: 14px;
}

#de {
  padding: 0 5px 0 5px;
  text-align: left;
}

.detitle {
  font-size: 14px;
}

input[type='text'] {
  width: 202px;
}

.eventday {
  width: 100%;
  padding-top: 7px;
  border-bottom: 1px solid #666666;
}

.textleft {
  text-align: left;
}


.introduction-section-dashboard {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 1 0 0;
}

.introduction-section-new-event {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 1 0 0;
}

.introduction-article {
  font-family: 'Roboto', sans-serif;
  padding: 40px;
  text-align: center;
  justify-content: center;
  object-fit: fill;
  color: var(--dark-color);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  max-width: 680px;
}

#page-footer {
  background-color: var(--light-color);
  padding: 20px;
  height: 80px;
}

#wrapper {
  max-width: 100%;
  height: calc(100% - 160px);
  display: block;
  grid-template-rows: auto 1fr auto;
  overflow: auto;
}

  /*Style for the sign in and sign up section*/
  /*style for the container and content section*/
  .userContainer {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 125vh;
    font-family: Arial, sans-serif;
  }
  
  /* Content styles */
  .userContent {
    text-align: center;
    background-color: white;
    border-radius: 15px;
    padding: 5%;
    max-width: 150vw;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.9);
  }
  
  /*Style for the header and forms*/
.signMessage,
.signHeader {
  text-align: left;
  color: #08203a;
}

.signMessage {
  margin-bottom: 10%;
  font-size: 27px;
}

.signHeader {
  font-size: 35px;
}

span.eventAlly {
  font-weight: bolder;
}

.signInForm,
.signUpForm {
  width: 25vw;
  margin: 25px 0;
  text-align: left;
}

/* Label styles */
.eventlabel {
  color: #343a40;
  font-size: 17px;
  font-weight: bold;
  display: block;
  padding: 15px;

}

/* Input styles */
input.signInput {
  width: 100%;
  height: 100%;
  padding: 15px;
  background-color: white;
  border: 1px solid #343a40;
  border-radius: 5px;
  margin-bottom: 15px;
  color: #343a40;
  font-size: 17px;
}

input.signInput:hover {
  border: 1px solid #1980e7;
}

/* Button styles */
.signInBtn,
.signupBtn {
  width: 108%;
  height: 7vh;
  padding: 12px;
  margin-top: 5%;
  border: none;
  border-radius: 10px;
  background-color: #08203a;
  color: white;
  font-size: 17px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
}

.signupBtn:hover,
.signInBtn:hover {
  background-color: #343a40;
}


.introduction-article-event {
  font-family: 'Roboto', sans-serif;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-right: 40px;
  padding-left: 40px;
}

/* Link styles */
.signInLink,
.signUpLink {

  text-align: center;
  display: block;
  color: #08203a;
  text-decoration: none;
  margin-top: 5%;
}


#event-list {
  display: flex;
  align-items: center;
  align-content: flex-start;
  gap: 10px;
  align-self: center;
  flex-wrap: wrap;
  overflow: auto;
  min-width: 100%;
}

.introduction-article-new-event {
  font-family: 'Roboto', sans-serif;
  padding: 40px;
  text-align: center;
  justify-content: center;
  object-fit: fill;
  color: var(--dark-color);
  display: flex;
  flex-direction: column;

  gap: 32px;
  max-width: 680px;
}

/* Figma assisted CSS START */

.dashboard-card {
  display: flex;
  width: 360px;
  flex-direction: column;
  align-items: flex-start;

  border-radius: 20px;
  border: 1px solid #ececec;
  background: var(--white, #fff);
  padding: 32px;
}

.dashboard-card-header {
  display: flex;
  gap: 15px;
  align-self: stretch;
  justify-content: center;
  width: 296px;
  padding-bottom: 24px;
}

.dashboard-card-footer {
  display: flex;
  padding: 24px;
  gap: 15px;
  align-self: stretch;
  justify-content: left;
  width: 296px;

  color: var(--muted-color, #78858f);

  /* Body/body1 */
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 23px; /* 143.75% */
  letter-spacing: 0.5px;
}

.dashboard-card-header-media {
  display: flex;
  align-items: center;
  gap: 10px;
  flex: 1 0 0;
  align-self: stretch;
}

.dashboard-card-header-title {
  /* Headline/h5 */

  font-family: Roboto;
  font-size: 16px;

  align-items: center;

  height: 32px;
  line-height: 32px;
  text-align: left;

  min-width: 200px;
}

.dashboard-card-header-cta-group {
  display: flex;
  align-items: left;
  gap: 10px;
  flex: 1 0 0;
  align-self: stretch;
  flex-direction: row;
}
.dashboard-card-header-cta {
  width: 32px;
  height: 32px;
}
.check-button {
  width: 32px;
  height: 32px;
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}
.delete-button {
  width: 32px;
  height: 32px;
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.event-type-text {


  text-align: left;

}

.signInLink:hover,
.signUpLink:hover {
  text-decoration: underline;
  color: #08203a;
}

/* Event Checklist CSS code */
/*Checklist container, dashboard button and new item button*/
.checklistDashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.topButtons {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 10px 0;
}

.dashboardButton {
  background-color: transparent;
  color: black;
  font-weight: bolder;
  font-size: 17px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.dashboardButton i {
  margin-right: 5px;
}

.dashboardButton:hover {
  border: 2px solid #08203a;
  width: 10vw;
}

.newItemContainer {
  display: flex;
  justify-content: flex-end; 
  align-items: center;
  width: 100%; 
  margin-right: 15%;
  padding: -20px;
}

.newItemButton {
  background-color: #08203a;
  color: #fff;
  width: 15vw;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  float: right;
  cursor: pointer;
}

.event-name {
  font-size: 30px;
  margin: 20px;
}

.checklistContainer {
  text-align: center;
  width: 83%;
  padding: 5px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

.checklist {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.card {
  margin: 2%;
  padding: 10px;
  width: 20vw;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  position: relative;
  overflow: hidden;
  max-height: 250px;
  overflow-y: auto;
}

.card button {
  position: relative;
  overflow: hidden;
  max-height: 250px;
  overflow-y: auto;
}

.checklistTitle {
  font-size: 18px;
  font-weight: bold;
  text-align: left;
}

.checklistDescription {
  margin-top: 20px;
  text-align: left;
}

.checklistDeleteIcon {
  color: #e74c3c;
  cursor: pointer;
  position: absolute;
  width: 10%;
  top: 10px;
  right: 30px;
}

.checklistCheckIcon {
  color: #2ecc71;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
}

.undoButton {
  color: black;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
}

/* The pop-up modal */
.popup-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
  justify-content: center;
  align-items: center;
}

.popup-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  width: 25vw;
  height: 45vh;
  text-align: center;
  position: relative;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  font-weight: bolder;
  width: 2vw;
  cursor: pointer;
}
.close:hover {
  color: red;
  font-weight: bolder;
}

label,
button {
  display: block;
  margin: 10px 0;
  width: 25vw;
}
